.form-container {
  border: 2px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-input {
  display: flex;
  flex-direction: column;
}
.form-container > button {
  margin-top: 20px;
  width: 100px;
}
